@font-face {
  font-family: "Fonty";
  src: url("../src/Fonts/Swiss-721-BT-Font.ttf");
}
@font-face {
  font-family: "title";
  src: url("../src/Fonts/futura medium bt.ttf");
}
@font-face {
  font-family: "calibri";
  src: url("../src/Fonts/Calibri Regular.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../src/Fonts/HSDream-Regular-1.otf");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body[dir=ltr] {
  font-family: "title";
}

body[dir=rtl] {
  font-size: 1.2rem;
  font-family: "arabic" !important;
}

.hoverClr {
  color: #f07851 !important;
}

.nav-tabs .nav-link {
  border: none !important;
  color: #1c476c !important;
}

.nav-link:hover {
  color: #e85530 !important;
}

.nav-tabs.active .nav-link.active {
  color: #e85530 !important;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .mobNav,
  .mobBar {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .topBar {
    display: none !important;
  }
  .mainBig {
    display: none !important;
  }
}
@media screen and (max-width: 1450px) {
  .topBar span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 1200px) {
  .topBar span {
    font-size: 8px !important;
  }
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.about {
  min-height: 100vh;
  padding: 60px 0 0;
}
.about h2 {
  padding-bottom: 50px;
  text-align: center;
  font-size: 55px;
  color: #1c476c;
}
.about h2 span {
  color: #e85530;
}
.about p {
  font-size: 19.2px;
  font-family: "calibri";
  font-weight: 100;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c476c;
}
.about .aboutBtns {
  text-align: center;
  padding-bottom: 40px;
}
.about .aboutBtns .one {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin: 20px;
  height: 60px;
  width: 170px;
  background-color: #1c476c;
  border: 1px solid #1c476c;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.about .aboutBtns .one:hover {
  transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -moz-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -o-transform: translate(0px, 10px);
}
.about .aboutBtns .one i {
  margin-left: 10px;
  color: #e85530;
}
.about .aboutBtns .two {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 60px;
  width: 170px;
  background-color: #e85530;
  color: #fff;
  border: 1px solid #e85530;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.about .aboutBtns .two:hover {
  transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -moz-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -o-transform: translate(0px, 10px);
}
.about .aboutBtns .two i {
  margin-left: 10px;
}

body[dir=rtl] .about {
  font-family: "arabic";
}
body[dir=rtl] .about h2 {
  font-family: "arabic";
  font-size: 4rem;
}
body[dir=rtl] .about h2 span {
  font-family: "arabic";
}
body[dir=rtl] .about p {
  font-family: "arabic";
  text-align: center;
}
body[dir=rtl] .about .aboutBtns .one {
  font-family: "arabic";
  letter-spacing: 1px;
}
body[dir=rtl] .about .aboutBtns .one i {
  margin-right: 30px;
  font-size: 14px;
}
body[dir=rtl] .about .aboutBtns .two {
  font-family: "arabic";
  letter-spacing: 1px;
}
body[dir=rtl] .about .aboutBtns .two i {
  margin-right: 30px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .about h2 {
    font-size: 35px;
  }
  .about h2 span {
    color: #e85530;
  }
  .about .aboutBtns {
    display: flex;
    text-align: center;
  }
  .about .aboutBtns .one {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 0px;
    height: 50px;
    width: 140px;
    font-size: 12px;
    margin: 0 20px;
  }
  .about .aboutBtns .one i {
    margin-left: 10px;
  }
  .about .aboutBtns .two {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    height: 50px;
    width: 140px;
    font-size: 12px;
  }
  .about .aboutBtns .two i {
    margin-left: 10px;
  }
}/*# sourceMappingURL=SehtnaStart.module.css.map */