@font-face {
  font-family: "Fonty";
  src: url("../src/Fonts/Swiss-721-BT-Font.ttf");
}
@font-face {
  font-family: "title";
  src: url("../src/Fonts/futura medium bt.ttf");
}
@font-face {
  font-family: "calibri";
  src: url("../src/Fonts/Calibri Regular.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../src/Fonts/HSDream-Regular-1.otf");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body[dir=ltr] {
  font-family: "title";
}

body[dir=rtl] {
  font-size: 1.2rem;
  font-family: "arabic" !important;
}

.hoverClr {
  color: #f07851 !important;
}

.nav-tabs .nav-link {
  border: none !important;
  color: #1c476c !important;
}

.nav-link:hover {
  color: #e85530 !important;
}

.nav-tabs.active .nav-link.active {
  color: #e85530 !important;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .mobNav,
  .mobBar {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .topBar {
    display: none !important;
  }
  .mainBig {
    display: none !important;
  }
}
@media screen and (max-width: 1450px) {
  .topBar span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 1200px) {
  .topBar span {
    font-size: 8px !important;
  }
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.mainModalSmall .myModalSmall {
  background: linear-gradient(90deg, #f07851, #e85530) !important;
  border: 1px solid #f07851 !important;
  height: 50px !important;
  width: 250px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.mainModalSmall .myModalSmall i {
  margin-left: 10px;
}
.mainModalSmall .modalDiaogSmall .modalContentSmall .myBtn {
  background-color: #1c476c !important;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 120px;
}
.mainModalSmall .modalDiaogSmall .modalContentSmall .myBtn i {
  margin-left: 10px;
  color: #f07851 !important;
}

body[dir=rtl] .mainModalSmall .myModalSmall {
  background: linear-gradient(90deg, #f07851, #e85530) !important;
  border: 1px solid #f07851 !important;
  height: 50px !important;
  width: 250px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
body[dir=rtl] .mainModalSmall .myModalSmall i {
  margin-right: 20px;
}
body[dir=rtl] .mainModalSmall .modalDiaogSmall .modalContentSmall .modalHeaderSmall .btnCloseSmall {
  margin: 0 !important;
}
body[dir=rtl] .mainModalSmall .modalDiaogSmall .modalContentSmall .myBtn {
  background-color: #1c476c !important;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 120px;
}
body[dir=rtl] .mainModalSmall .modalDiaogSmall .modalContentSmall .myBtn i {
  margin-right: 20px;
  color: #f07851 !important;
}/*# sourceMappingURL=MobModel.module.css.map */