 .shapeOne .swiper {
  min-height: 70vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center !important;
  text-align: center;
}
.shapeOne .swiper-slide-active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

.shapeOne .swiper .mainSwiper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 16rem !important;
  height: 16rem !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  margin-left: 50px;
}

.shapeOne .swiper .mainSwiper:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.shapeOne .swiper .shapeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 13rem !important;
  width: 13rem !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(180deg, #ee6d45 50%, #fff 0) !important;
  box-shadow: 0 0 7px 2px #ddd !important;
}

.shapeOne .swiper .shapeContainer .counter{
  font-size: 25px;
  color: #eeeeee;
  margin-top: -15px;
  text-align: center;
}
.shapeOne .swiper .shapeContainer .counter h6 {
  margin-top: -20px;
  text-align: center;
  font-size: 23px;
}
.shapeOne .swiper .shapeContainer  .title h3{
  font-size: 18px;
  width: 200px;
  text-align: center;
  padding: 0 15px;
  transform: translate(0px, 35px);
  -webkit-transform: translate(0px, 35px);
  -moz-transform: translate(0px, 35px);
  -ms-transform: translate(0px, 35px);
  -o-transform: translate(0px, 35px);
  color: #1c476c;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.shapeOne  .swiper-pagination-bullet-active {
  background-color: #e85530;
  height: 13px;
  width: 13px;
}

.shapeOne .swiper-button-next {
  background-image: url("../../../../public/images/orange-right-slide.d2323afe.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  color: #e85530;

}

.shapeOne  .swiper-button-next::after,
.shapeOne  .swiper-button-prev::after {
  display: none;
}
.shapeOne  .swiper-button-prev {
  background-image: url("../../../../public/images/orange-right-slide.d2323afe.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  rotate: 180deg;
  color: #e85530;
  margin-left: 10px !important;
}
body[dir="rtl"] .shapeOne .swiper {
  min-height: 70vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center !important;
  text-align: center;
}
body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
  margin-right: 50px;
}
body[dir="rtl"] .shapeOne .swiper-button-next {
  background-image: url("../../../../public/images/orange-right-slide.d2323afe.svg");
  rotate: 180deg !important;
}

body[dir="rtl"] .shapeOne .swiper-button-prev {
  background-image: url("../../../../public/images/orange-right-slide.d2323afe.svg");
  rotate: 0deg !important;
}



@media screen and (max-width: 1024px) {
  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper .shapeContainer  .title h3{
    font-size: 17px !important;
    transform: translate(0px, 30px) !important;
    -webkit-transform: translate(0px, 30px) !important;
    -moz-transform: translate(0px, 30px) !important;
    -ms-transform: translate(0px, 30px) !important;
    -o-transform: translate(0px, 30px) !important;
    width: 170px !important;
}
.shapeOne .swiper .mainSwiper{
  margin-left: 0px !important;
}
body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
  margin-right: 0px !important;
}
}
@media screen and (max-width: 991px) {

  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper {
    min-height: 45vh;}
    .shapeOne .swiper .mainSwiper{
      margin-left: 0px !important;
    }
    body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
      margin-right: 0px !important;
    }
    body[dir="rtl"] .shapeOne .swiper {
      min-height: 45vh;
    }
}

@media screen and (max-width: 769px) {

  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper {
    min-height: 60vh;
    margin-top: 20px;
  }
    .shapeOne .swiper .mainSwiper{
      margin-left: 0px !important;
    }
    body[dir="rtl"] .shapeOne .swiper {
      min-height: 60vh;
      margin-top: 20px;
    }
    body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
      margin-right: 0px !important;
    }
}
@media screen and (max-width: 768px) {

  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper {
    min-height: 60vh;
    margin-top: 20px;}
    .shapeOne .swiper .mainSwiper{
      margin-left: 0px !important;
    }
    body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
      margin-right: 0px !important;
    }
    body[dir="rtl"] .shapeOne .swiper {
      min-height: 60vh;
      margin-top: 20px;
    }
}
@media screen and (max-width: 640px) {

  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper {
    min-height: 60vh;
    margin-top: 20px;}
    .shapeOne .swiper .mainSwiper{
      margin-left: 0px !important;
    }
    body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
      margin-right: 0px !important;
    }
    body[dir="rtl"] .shapeOne .swiper {
      min-height: 60vh;
      margin-top: 20px;
    }
}
@media screen and (max-width: 280px) {

  .shapeOne .swiper-button-next,
  .shapeOne .swiper-button-prev {
    display: none;
  }
  .shapeOne .swiper {
    min-height: 55vh;
    margin-top: 20px;
  }

    body[dir="rtl"] .shapeOne .swiper {
      min-height: 55vh;
      margin-top: 20px;
    }  
    body[dir="rtl"] .shapeOne .swiper .mainSwiper{
      margin-right: 0px !important;
      width: 12rem !important;
      height: 12rem !important;
    }
.shapeOne .swiper .mainSwiper{
  margin-left: 0px !important;
  width: 12rem !important;
  height: 12rem !important;
}
.shapeOne .swiper .shapeContainer{
  height: 10rem !important;
  width: 10rem !important;
}
body[dir="rtl"] .shapeOne .swiper .shapeContainer{
  height: 10rem !important;
  width: 10rem !important;
}
body[dir="rtl"] .shapeOne .swiper .shapeContainer  .title h3{
  font-size: 13px !important;
}
.shapeOne .swiper .shapeContainer  .title h3{
  font-size: 13px !important;
}
.shapeOne .swiper .shapeContainer .counter h6 {
  margin-top: -20px;
  text-align: center;
  font-size: 16px !important;
}
body[dir="rtl"] .shapeOne .swiper .shapeContainer .counter h6 {
  margin-top: -20px;
  text-align: center;
  font-size: 16px !important;
}
.shapeOne .swiper .shapeContainer .counter{
  font-size: 16px !important;
}
body[dir="rtl"]   .shapeOne .swiper .mainSwiper{
  margin-right: 0px !important;
}
}