@font-face {
  font-family: "Fonty";
  src: url("../src/Fonts/Swiss-721-BT-Font.ttf");
}
@font-face {
  font-family: "title";
  src: url("../src/Fonts/futura medium bt.ttf");
}
@font-face {
  font-family: "calibri";
  src: url("../src/Fonts/Calibri Regular.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../src/Fonts/HSDream-Regular-1.otf");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body[dir=ltr] {
  font-family: "title";
}

body[dir=rtl] {
  font-size: 1.2rem;
  font-family: "arabic" !important;
}

.hoverClr {
  color: #f07851 !important;
}

.nav-tabs .nav-link {
  border: none !important;
  color: #1c476c !important;
}

.nav-link:hover {
  color: #e85530 !important;
}

.nav-tabs.active .nav-link.active {
  color: #e85530 !important;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .mobNav,
  .mobBar {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .topBar {
    display: none !important;
  }
  .mainBig {
    display: none !important;
  }
}
@media screen and (max-width: 1450px) {
  .topBar span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 1200px) {
  .topBar span {
    font-size: 8px !important;
  }
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.mobNav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mobNav .mobLeft {
  width: 30%;
  padding: 10px;
}
.mobNav .mobLeft .logo img {
  width: 100%;
}
.mobNav .mobRight .icon {
  font-size: 30px;
  color: #1c476c;
}

.mobBar {
  background-color: #1c476c;
  height: 0;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  padding: 0px 20px;
  bottom: 0;
}
.mobBar .head {
  display: flex;
  justify-content: space-between;
}
.mobBar .head .logo {
  width: 27%;
}
.mobBar .head .logo img {
  width: 100%;
}
.mobBar .head .center {
  margin-top: 6px;
  color: #eee;
  font-size: 20px;
}
.mobBar .head .icon {
  color: #eee;
  font-size: 33px;
}
.mobBar .body {
  padding: 15px;
}
.mobBar .body .item {
  display: flex;
  margin-top: 10px;
  border-bottom: 0.5px solid #4e7a9a;
}
.mobBar .body .item i {
  color: #e85530;
}
.mobBar .body .item .links {
  color: #eee;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 15px;
}
.mobBar .footer .myBtn {
  margin: 30px 0 20px;
}
.mobBar .footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 15px;
}
.mobBar .footer .social a {
  color: #eee;
  margin-left: 15px;
  font-size: 30px;
}
.mobBar .footer .copy {
  color: #eee;
  font-size: 14px;
  text-align: center;
}

body[dir=rtl] .mobNav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body[dir=rtl] .mobNav .mobLeft {
  width: 30%;
  padding: 10px;
}
body[dir=rtl] .mobNav .mobLeft .logo img {
  width: 100%;
}
body[dir=rtl] .mobNav .mobRight .icon {
  font-size: 30px;
  color: #1c476c;
}
body[dir=rtl] .mobBar {
  background-color: #1c476c;
  height: 0;
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 0;
  padding: 0px 20px;
}
body[dir=rtl] .mobBar .head {
  display: flex;
  justify-content: space-between;
}
body[dir=rtl] .mobBar .head .logo {
  width: 27%;
}
body[dir=rtl] .mobBar .head .logo img {
  width: 100%;
}
body[dir=rtl] .mobBar .head .center {
  margin-top: 6px;
  color: #eee;
  font-size: 20px;
}
body[dir=rtl] .mobBar .head .icon {
  color: #eee;
  font-size: 33px;
}
body[dir=rtl] .mobBar .body {
  padding: 17px;
}
body[dir=rtl] .mobBar .body .item {
  display: flex;
  margin-top: 10px;
  border-bottom: 0.5px solid #4e7a9a;
}
body[dir=rtl] .mobBar .body .item i {
  margin-top: 5px !important;
  color: #e85530;
}
body[dir=rtl] .mobBar .body .item .links {
  color: #eee;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 15px;
}
body[dir=rtl] .mobBar .footer .myBtn {
  margin: 30px 0 20px;
}
body[dir=rtl] .mobBar .footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 15px;
}
body[dir=rtl] .mobBar .footer .social a {
  color: #eee;
  margin-left: 15px;
  font-size: 30px;
}
body[dir=rtl] .mobBar .footer .copy {
  color: #eee;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body[dir=ltr] .mobNav .mobRight .icon {
    font-size: 50px;
    color: #1c476c;
  }
  body[dir=ltr] .mobBar .head .center {
    margin-top: 6px;
    color: #eee;
    font-size: 25px;
  }
  body[dir=ltr] .mobBar .head .icon {
    color: #eee;
    font-size: 53px;
  }
  body[dir=ltr] .mobBar .body {
    padding: 25px;
  }
  body[dir=ltr] .mobBar .body .item {
    margin-top: 20px;
  }
  body[dir=ltr] .mobBar .body .item i {
    margin-top: 10px;
  }
  body[dir=ltr] .mobBar .body .item .links {
    margin-bottom: 20px;
    font-size: 23px;
  }
  body[dir=ltr] .mobBar .footer {
    margin-top: 20px;
  }
  body[dir=ltr] .mobBar .footer .myBtn {
    margin: 30px 0 20px;
  }
  body[dir=ltr] .mobBar .footer .social {
    margin: 35px 15px;
  }
  body[dir=ltr] .mobBar .footer .social a {
    font-size: 40px;
  }
  body[dir=ltr] .mobBar .footer .copy {
    font-size: 18px;
  }
  body[dir=rtl] .mobNav .mobRight .icon {
    font-size: 60px;
  }
  body[dir=rtl] .mobBar .head .center {
    margin-top: 6px;
    color: #eee;
    font-size: 25px;
  }
  body[dir=rtl] .mobBar .head .icon {
    color: #eee;
    font-size: 53px;
  }
  body[dir=rtl] .mobBar .body {
    padding: 25px;
  }
  body[dir=rtl] .mobBar .body .item {
    margin-top: 20px;
    font-size: 26px !important;
  }
  body[dir=rtl] .mobBar .body .item i {
    margin-top: 10px;
  }
  body[dir=rtl] .mobBar .body .item .links {
    margin-bottom: 20px;
    font-size: 23px;
  }
  body[dir=rtl] .mobBar .footer {
    margin-top: 20px;
  }
  body[dir=rtl] .mobBar .footer .myBtn {
    margin: 30px 0 20px;
  }
  body[dir=rtl] .mobBar .footer .social {
    margin: 35px 15px;
  }
  body[dir=rtl] .mobBar .footer .social a {
    font-size: 40px;
  }
  body[dir=rtl] .mobBar .footer .copy {
    font-size: 18px;
  }
}/*# sourceMappingURL=MobNav.module.css.map */