@import "../../../index.scss";
.mobNav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
    .mobLeft {
    width: 30%;
    padding: 10px;
    .logo {
      img {
        width: 100%;
      }
    }
  }
  .mobRight {
    .icon {
      font-size: 25px !important;
      color: $DarkBlueColor;
    }
  }
}
.mobBar {
  background-color: $DarkBlueColor;
  height: 0;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  padding: 0px 20px;
  bottom: 0;
 
 
  .head {
    display: flex;
    justify-content: space-between;
    .logo {
      width: 23% !important;
      img {
        width: 100%;
      }
    }
    .center {
      margin-top: 6px;
      color: #eee;
      font-size: 18px !important;
    }
    .icon {
      color: #eee;
      font-size: 25px !important;
    }
  }
  .body {
    padding: 13px 15px;
    .item {
      display: flex;
      margin-top: 7px;
      border-bottom: 0.5px solid #4e7a9a;
      i {
        color: $SecMainColor;
      }
      .links {
        color: #eee;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 15px;
        font-size: 16px !important;
      }
    }
  }
  .footer {
    .myBtn {
      margin: 30px 0 20px;
    }
    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 15px;
      a {
        color: #eee;
        margin-left: 15px;
        font-size: 30px;
      }
    }
    .copy {
      color: #eee;
      font-size: 14px !important;
      text-align: center;
    }
  }
}

body[dir="rtl"] {
  .mobNav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .mobLeft {
      width: 30%;
      padding: 10px;
      .logo {
        img {
          width: 100%;
        }
      }
    }
    .mobRight {
      .icon {
        font-size: 25px;
        color: $DarkBlueColor;
      }
    }
  }
  .mobBar {
    .head {
      .center {
        margin-top: 6px;
      }
    }
    .body {
      padding: 13px 15px !important;
      .item {
        margin-top: 7px;
        .links {
          text-align: right;
          margin-right: 20px;
          margin-bottom: 15px;
          font-size: 16px !important;
        }
      }
    }
    .footer {
      .myBtn {
        margin: 30px 0 20px;
      }
      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7px 15px !important;
        a {
          color: #eee;
          margin-left: 15px;
          font-size: 25px;
        }
      }
      .copy {
        color: #eee;
        font-size: 14px !important;
        text-align: center;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

    .mobNav {
      .mobRight {
        .icon {
          font-size: 35px;
          color: $DarkBlueColor;
        }
      }
      .mobLeft {
        width: 20% !important;
        padding: 10px;
        .logo {
          img {
            width: 100%;
          }
        }
      }
    }
  
    .mobBar {
      .head {
        .center {
          margin-top: 6px;
          color: #eee;
          font-size: 25px;
        }
        .icon {
          color: #eee;
          font-size: 33px;
        }
        .logo {
          width: 15% !important;
          img {
            width: 100%;
          }
        }
      }
      .body {
        padding: 10px 25px !important;
        .item {
          margin-top: 6px;
          i {
            margin-top: 6px;
          }
          .links {
            margin-bottom: 10px;
            font-size: 17px !important;
          }
        }
      }
      .footer {
        margin-top: 5px;
        .myBtn {
          margin: 10px 0 20px;
        }
        .social {
          margin: 5px 15px;
          a {
            font-size: 30px;
          }
        }
        .copy {
          font-size: 16px !important;
        }
      }
    }
  
  
  body[dir="rtl"] {
    .mobNav {
      .mobRight {
        .icon {
          font-size: 45px;
        }
      }
      .mobLeft {
        width: 20% !important;
        padding: 10px;
        .logo {
          img {
            width: 100%;
          }
        }
      }
    }
    .mobBar {
      .head {
        .logo {
          width: 15%;
          img {
            width: 100%;
          }
        }
        .center {
          margin-top: 6px;
          color: #eee;
          font-size: 25px;
        }
        .icon {
          color: #eee;
          font-size: 33px;
        }
      }
      .body {
        padding: 10px 25px !important;
        .item {
          margin-top: 10px;
          font-size: 16px !important;
          i {
            margin-top: 6px;
          }
          .links {
            margin-bottom: 6px;
            font-size: 20px;
          }
        }
      }
      .footer {
        margin-top: 5px;
        .myBtn {
          margin: 10px 0 20px;
        }
        .social {
          margin: 5px 15px;
          a {
            font-size: 30px;
          }
        }
        .copy {
          font-size: 18px;
        }
      }
    }
  }
}